*.filters
**/*.cmake
**/CMakeSettings.json
**/*.bin
**/*.sln
**/*.vcxproj
**/.vs
**/.vscode
**/.idea
**/build/
**/out/
*.exe
*.db
*.pdb
*.lib
*.ipch
*.mp4
*.suo
*.user
*.log
**/debug/
**/Debug/
**/release/
**/Release/
**/x64
**/.DS_Store
**/__MACOSX/
**/$RECYCLE.BIN/
**/Desktop.ini
**/gameProgress.json

/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
build
debug
cmake-build-debug
cmake-build-default
cmake-build-minsizerel
cmake-build-release
cmake-build-relwithdebinfo

ext/project_path.hpp

.idea
.vs
.DS_Store

!ext/
!template/ext/
